# shellcheck disable=SC2034

# REGISTRY
REGISTRY_API_CLIENT_MAIN_URL='http://nextcloud.loc'
REGISTRY_API_CLIENT_CREDENTIALS_DICT_STR='([http://nextcloud.loc]="admin:admin" [http://nextcloud2.loc]="admin:admin")'
REGISTRY_CACHE_DIR='/var/tmp/vedv/registry' # don't change this
