# shellcheck disable=SC2034

# If this variable is false and the image users password is not the default one,
# all users password will be changed to the default one on the exported image,
# This requires the image to be started and stopped before exporting it,
# adding around 10 to 30 seconds to the exportation process.
#
# (default: false)
NO_CHANGE_PASSWORD_ON_EXPORT=true

# If this variable is true, the image is started on import, it sets a generated
# password for all users on the image and stop it.
# This is highly recommended for security reasons on production environments at
# the cost of adding around 10 to 30 seconds to the importation process.
# On development environments, this is not necessary if you have a well
# configured firewall.
#
# (default: false)
CHANGE_PASSWORD_ON_IMPORT=false

# REGISTRY
REGISTRY_API_CLIENT_MAIN_URL='http://nextcloud.loc'
REGISTRY_API_CLIENT_CREDENTIALS_DICT_STR='([http://nextcloud.loc]="admin:admin" [http://nextcloud2.loc]="admin:admin" )'
VEDV_TMP_DIR='/var/tmp/vedv-dev'              # don't change this
REGISTRY_CACHE_DIR="${VEDV_TMP_DIR}/registry" # don't change this
